extends layout
block content
  h1= title
  p Search result bird
  br
  br
  -
    let result = results
  div.container-fluid
    div.row
      each item, index in result
        div.col-sm-2(onclick=`buy(${index})`)
          h4 birdName: #{item.birdName}
          p birdPrice: $#{item.birdPrice}
          p birdColor: #{item.birdColor}

  script.
    function buy(index) {
      alert(`You purchased item ${index+1}.`);
    }
     